/*global*/
body {
	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 32px;
}






/*Home Page*/


img {
	width : 300px;
}



/* BIO Page*/

.bio h2, 
.bio h3 {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	text-align: left;

}

.bio h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bio section {
	float: left;
	width: 50%;
}

.bio article {

	margin: 0 auto;

	width: 1000px;
}


/*Style tile */